<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40497223906-5qk2rm8tqtddpbcvgaqv4crnvno1va21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40497223906-5qk2rm8tqtddpbcvgaqv4crnvno1va21</string>
	<key>API_KEY</key>
	<string>AIzaSyCg0SLZbxB00YBWYfnkyCFLIQ3WkHLb9f8</string>
	<key>GCM_SENDER_ID</key>
	<string>40497223906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instargramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-ekina</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-ekina.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:40497223906:ios:74c9b602c47da9514ce6bb</string>
</dict>
</plist>
